body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("https://i.ytimg.com/vi/Z-VfaG9ZN_U/maxresdefault.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  width: 250px;
  border: 3px solid white;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0,0,0,.5)
}

button {
  margin: 5%;
  padding: 1% 2%;
  background: transparent;
  color: white;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 1px solid white;
  border-radius: 10px;
  transition: all .2s ease-in-out;
}

button:hover {
  background: white;
  color: seagreen;
  cursor: pointer;
  letter-spacing: .2rem;
}

input {
  margin: 2%;
  padding: 1% 2%;
  background: transparent;
  color: white;
  font-weight: 600;
  letter-spacing: .15rem;
  border: 1px solid white;
  border-radius: 10px;
  transition: all .2s ease-in-out;
}

.userCard {
  margin: auto;
  border: 1px solid grey;
  border-radius: 10px;
  width: 80vw;
  text-align: center;
  padding: 2%;
}

.userCardInner {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
}

.followers {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.followerCard {
  width: 50%;
  padding: 5%;
  margin: 40px 20px;
  background: rgba(0,0,0,.5);
  border: 1px solid seagreen;
  border-radius: 10px;
  box-shadow: 0 .5rem .5rem rgba(0,0,0,.6);
  transition: all .2s ease;
}

.followerCard img {
  border-radius: 10px;
  transition: all .4s ease;
}

.followerCard img:hover {
  transform: scale(.9);
}

.followerCard:hover {
  transform: scale(1.025);
  box-shadow: 0 1rem 1rem rgba(0,0,0,.5);
  letter-spacing: .2rem;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  cursor: pointer;
}